* {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(199, 228, 255);
    color: black;
    /* color: rgb(232, 23, 23); */
    padding: .5rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    list-style: none;
}

h1 {
    font-size: 80pt;
}

p {
    font-size: 30pt;
    background-color: rgb(232, 23, 23);
    padding: .5rem;
}

h2, h3, ul {
    background-color: rgb(232, 23, 23);
}

h2 {
    font-size: 40pt;
    text-decoration: underline;
}

li {
    background-color: rgb(232, 23, 23);
    font-size: 30pt;
}

a:link {
    text-decoration: none;
    font-size: 16pt;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(232, 23, 23);
}

a:hover {
    background-color: rgb(240, 138, 138);
}

.navigation {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    margin-right: 5%;
    padding: 0;
    background: none;
}

.nav-li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    background: none;
}

.top {
    display: grid;
    grid-template-rows: 20px 200px 1fr;
    grid-template-columns: 150px 1fr 150px 1fr;
}

.top-img {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

.top-phrase {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    background: none;
    font-size: 50pt;
    flex-grow: 1;
    text-decoration: none;
    margin: auto;
}

.button {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    text-decoration: none;
    font-size: 40pt;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(232, 23, 23);
    margin: auto;
}

.button:hover {
    background-color: rgb(240, 138, 138);
}

#current-temp, #weather-description, #humidity, #dayimg, .day-weather, .dayname, .day-label, .flex {
    background-color: rgb(232, 23, 23);
}

.day-weather, .dayname, .day-label {
    font-size: 20pt;
}


.rental-sum, .stats, .content, .agree-info, .agree-title {
    background-color: rgb(232, 23, 23);
    border: 1px solid black;
    border-radius: 10px;
}

.google-maps h2, .reserve, .request-res, .tour-main h2, .tour-main p {
    background: none;
}

.beautiful {
    text-decoration: none;
}

.sites a, .sites ul, .sites li{
    background: none;
    border: none;
}

.sites li {
    font-size: 20pt;
}

.site {
    transition: all 2s ease;
}

.site:hover {
    transform: scale(1.3);
}

.rental-sum, .stats, form, table{
    margin-left: 20%;
    margin-right: 20%;
}



.content {
    border: none;
}

.res-main {
    display: flex;
    flex-direction: column;
}

.site-title {
    text-decoration: none;
    font-size: 25pt;
}

table {
    border: 2px solid black;
    background-color: rgb(232, 23, 23);
}

th {
    border: 2px solid black;
    background-color: rgb(232, 23, 23);
}

td {
    border: 2px solid black;
    background-color: rgb(232, 23, 23);
}

footer p {
    background: none;
}

.fa {
    padding: 20px;
    font-size: 30pt;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

fieldset {
    justify-content: left;
    padding: 10px;
}

label, input {
    display: block;
}

input {
    margin-left: 20%;
}

label {
    margin-bottom: 20px;
    margin-left: 1%;
}

.contact-p {
    margin-left: 42%;
}

.contact-s {
    margin-left: 46%;
}

.contact-n {
    padding: 30px;
    text-align: left;
}

@media screen and (max-width: 1165px) {
    .top-img {
        width: 700px;
    }
    
    .rental-sum, .stats, table {
        margin-left: 5%;
        margin-right: 5%;
    }

    p, li, .fa {
        font-size: 20pt;
    }

    h1 {
        font-size: 50pt;
    }

    h2, .top-phrase{
        font-size: 30pt;
    }

    .button {
        font-size: 40pt;
    }

    .day-weather, .dayname, .day-label {
        font-size: 15pt;
    }
}
@media screen and (max-width: 770px) {
    .navigation {
        margin-right: 0%;
        margin-left: 0%;
    }
    
    .top-img {
        width: 400px;
    }
    
    .rental-sum, .stats, table {
        margin-left: 0;
        margin-right: 0;
    }

    p, li, .fa {
        font-size: 10pt;
    }

    h1 {
        font-size: 30pt;
    }

    h2, .top-phrase{
        font-size: 20pt;
    }

    .button {
        font-size: 20pt;
    }

    .day-weather, .dayname, .day-label {
        font-size: 15pt;
    }

    .ti {
        width: 120px;
    }
}