

body {
    font-family: 'Roboto Serif', sans-serif;
    margin: auto;
}

header {
    background-color:rgb(0, 162, 255);
    padding: 5px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    vertical-align: sub;
    font-family: 'Abril Fatface', cursive;
}

h2 {
    margin: 10px auto;
    padding: 15px;
    max-width: 500px;
}

h1 h2 {
    font-family: 'Abril Fatface', cursive;
}

.content {
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    background-color: #4f5d73;
    color: #000;
    max-width: 500px;
}

footer {
    margin: 10px auto;
    padding: 15px;
    font-style: italic;
    max-width: 500px;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: rgb(0, 162, 255);
}
.navigation {
    list-style: none;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}


.navigation a:hover {
    color: white;
    background-color: black;
}

.responsive li {
    display: block;
}

.flex {
	display: flex;
	flex-flow: row wrap;
}

.flex-col {
	flex: 1;
	background-color: #f5cf87;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	text-align: center;
}

.flex-col:hover, td:hover {
	opacity: 0.75;
	background-color: black;
	color: white;
}
.flex, .grid {
	border-right: 1px solid #333;
}

.col-head {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #333;
	text-align: center;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

.col-head {
	font-weight: 700;
	font-size: 1rem;
	background-color: black;
	color: white;
}

@media only screen and (max-width: 32.5em) {
    h1 h2 {
        font-family: 'Abril Fatface', cursive;
    }
    .content {
        background-color: rgb(0, 162, 255);
    }

    header img {
        width: 100%;
    }
    nav {
        margin: 0 auto;
        background-color: rgb(0, 162, 255);
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a:hover {
        color: white;
        background-color: black;
    }
    
    .responsive li {
        display: block;
    }
    
    .flex {
        display: flex;
        flex-flow: row wrap;
    }
    
    .flex-col {
        flex: auto;
        background-color: #f5cf87;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        text-align: center;
    }
    
    .flex-col:hover, td:hover {
        opacity: 0.75;
        background-color: black;
        color: white;
    }
    .flex, .grid {
        border-right: 1px solid #333;
    }
    
    .col-head {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333;
        text-align: center;
    }
    
    
    
    .data {
        display: block;
        padding: 0 5px 5px;
        font-size: 0.8rem;
        text-align: center;
    }
    
    .col-head {
        font-weight: 700;
        font-size: 1rem;
        background-color: black;
        color: white;
    }
}

@media only screen and (min-width: 56em) {
    h1 h2 {
        font-family: 'Abril Fatface', cursive;
    }

    main .story .story-image {
        display: block;
        margin: 10px auto;
        padding: 15px;
        color: #000;
        max-width: 500px;
    }


    .content {
        background-color: rgb(255, 255, 255);
        max-width: 650px;
    }

    nav {
        margin: 0 auto;
        background-color: rgb(0, 162, 255);
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a:hover {
        color: white;
        background-color: black;
    }
    
    .responsive li {
        display: block;
    }

    .flex {
        display: flex;
        flex-flow: row wrap;
    }
    
    /* .flex-col {
        flex: 1 1 auto;
        background-color: #f5cf87;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        text-align: center;
    } */
    
    .flex-col:hover, td:hover {
        opacity: 0.75;
        background-color: black;
        color: white;
    }
    .flex, .grid {
        border-right: 1px solid #333;
    }
    
    .col-head {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333;
        text-align: center;
    }
    
    
    .data {
        display: block;
        padding: 0 5px 5px;
        font-size: 0.8rem;
        text-align: center;
    }
    
    .col-head {
        font-weight: 700;
        font-size: 1rem;
        background-color: black;
        color: white;
    }
}
